In [3]:
import pandas as pd

# Сам датасет по языкам с wals.info

In [11]:
df_wals = pd.read_csv('../data/wals_language.csv')
print(df_wals.shape)
df_wals.head()

(2679, 202)

,wals_code,iso_code,glottocode,Name,latitude,longitude,genus,family,macroarea,countrycodes,...,137B M in Second Person Singular,136B M in First Person Singular,109B Other Roles of Applied Objects,10B Nasal Vowels in West Africa,25B Zero Marking of A and P Arguments,21B Exponence of Tense-Aspect-Mood Inflection,108B Productivity of the Antipassive Construction,130B Cultural Categories of Languages with Identity of 'Finger' and 'Hand',58B Number of Possessive Nouns,79B Suppletion in Imperatives and Hortatives
0,aab,NaN,NaN,Arapesh (Abu),-3.450000,142.950000,Kombio-Arapesh,Torricelli,NaN,PG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,aar,aiw,aari1239,Aari,6.000000,36.583333,South Omotic,Afro-Asiatic,Africa,ET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,aba,aau,abau1245,Abau,-4.000000,141.250000,Upper Sepik,Sepik,Papunesia,PG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,abb,shu,chad1249,Arabic (Chadian),13.833333,20.833333,Semitic,Afro-Asiatic,Africa,TD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,abd,abi,abid1235,Abidji,5.666667,-4.583333,Kwa,Niger-Congo,Africa,CI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Собранные данные типа: язык и ссылка на статью, где он встретился либо в Abstract, либо в Title.
* Стоит заметить, что для языков, название которые меньше 4-х символов, производился поиск по шаблону "<название языка> language"

In [12]:
df_language_url = pd.read_csv('../data\lang_url_dataset_0709.csv')
print(df_language_url.shape)
df_language_url.head()

(41913, 2)

                  language                                     url
0         Arabic (Chadian)  https://aclanthology.org/2021.woah-1.2
1          Arabic (Beirut)  https://aclanthology.org/2021.woah-1.2
2         Arabic (Bahrain)  https://aclanthology.org/2021.woah-1.2
3        Arabic (Egyptian)  https://aclanthology.org/2021.woah-1.2
4  Arabic (Eastern Libyan)  https://aclanthology.org/2021.woah-1.2

In [26]:
df_language_url['no_brackets'] = df_language_url.language.apply(lambda x: x.split('(')[0].strip())
df_unique = df_language_url[['no_brackets', 'url']].drop_duplicates(subset=['no_brackets', 'url'])
print(df_unique.shape)
df_unique.head()

(11257, 2)

   no_brackets                                     url
0       Arabic  https://aclanthology.org/2021.woah-1.2
21     English  https://aclanthology.org/2021.woah-1.2
22      French  https://aclanthology.org/2021.woah-1.2
23      German  https://aclanthology.org/2021.woah-1.2
39     English  https://aclanthology.org/2021.woah-1.3

* Информация о том сколько статей содержат упоминание языка:

In [16]:
df_language_url.language.value_counts()

English                    3402
German (Appenzell)          845
German (Upper Austrian)     845
German (Bavarian)           845
German (Bern)               845
                           ...
Khasi                         1
Haitian Creole                1
Tepehua (Huehuetla)           1
Tepehua (Tlachichilco)        1
Karen (Sgaw)                  1
Name: language, Length: 461, dtype: int64

In [36]:
df_statistics = pd.DataFrame(
    {
        'Name': df_language_url.language.value_counts().index.to_list(),
        'Num_of_articles': df_language_url.language.value_counts().to_list()
    }
    )
lang_statistic_df = df_wals.merge(df_statistics, on='Name', how='left')
lang_statistic_df.head()

,wals_code,iso_code,glottocode,Name,latitude,longitude,genus,family,macroarea,countrycodes,...,136B M in First Person Singular,109B Other Roles of Applied Objects,10B Nasal Vowels in West Africa,25B Zero Marking of A and P Arguments,21B Exponence of Tense-Aspect-Mood Inflection,108B Productivity of the Antipassive Construction,130B Cultural Categories of Languages with Identity of 'Finger' and 'Hand',58B Number of Possessive Nouns,79B Suppletion in Imperatives and Hortatives,Num_of_articles
0,aab,NaN,NaN,Arapesh (Abu),-3.450000,142.950000,Kombio-Arapesh,Torricelli,NaN,PG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,aar,aiw,aari1239,Aari,6.000000,36.583333,South Omotic,Afro-Asiatic,Africa,ET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,aba,aau,abau1245,Abau,-4.000000,141.250000,Upper Sepik,Sepik,Papunesia,PG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,abb,shu,chad1249,Arabic (Chadian),13.833333,20.833333,Semitic,Afro-Asiatic,Africa,TD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,666.0
4,abd,abi,abid1235,Abidji,5.666667,-4.583333,Kwa,Niger-Congo,Africa,CI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Далее из каждой статьи извлекались ссылки и их домены

In [19]:
df_domains_links = pd.read_csv('../data/data_links_domains_0709.csv')
print(df_domains_links.shape)
df_domains_links.head()

(40389, 3)

,article,links,domains
0,https://aclanthology.org/2021.woah-1.2,www.github.com/uds-lsv/profane_,github
1,https://aclanthology.org/2021.woah-1.2,https://doi.org/10.18653/v1/N19-1423,doi
2,https://aclanthology.org/2021.woah-1.2,https://www.aclweb.org/anthology/2020.osact-1.14,aclweb
3,https://aclanthology.org/2021.woah-1.2,https://doi.org/10.1145/3038912.3052611,doi
4,https://aclanthology.org/2021.woah-1.2,www.archive.org/details/twitterstream,archive

* Агрегация по доменам

In [21]:
df_domains_links.domains.value_counts().iloc[:10]

doi                      13353
github                    7059
aclweb                    4649
arxiv                      912
google                     702
wikipedia                  435
openreview                 382
huggingface                288
upenn                      224
universaldependencies      192
Name: domains, dtype: int64